<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/dist/css/counter-manager.css}"/>
    <title>订单管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">
    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div style="float:left; position:relative; z-index:9999;height:100%;">
                            <button type="button" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i> 添加
                            </button>
                            <!--<button type="button" class="btn btn-danger" id="btn-del"><i class="fa fa-remove"></i>批量删除</button>-->
                            <button type="button" class="btn btn-primary" id="showcol"><i class="fa fa-eye"></i>列段显示/隐藏
                            </button>
                            <ul class="showul"
                                style=" list-style:none;display:none; position:absolute; left:180px; top:30px; background:#FFFFFF; border:1px solid #ccc; width:200px;">
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="1"/>
                                    加工单编码
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="2"/>
                                    仓库编码
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="3"/>
                                    仓库名称
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="4"/>
                                    加工单类型
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="5"/>
                                    产成品预期总数量
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="6"/>
                                    产成品单位
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="7"/>
                                    最后期限
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="8"/>
                                    产成品编码
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="9"/>
                                    产成品名称
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="10"/>
                                    同步时间
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="11"/>
                                    加工任务完成时间
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="12"/>
                                    关单人
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="13"/>
                                    关单时间
                                </li>
                                <li>
                                    <input type="checkbox" class="toggle-vis" data-column="14"/>
                                    订单状态
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <div class="input-append">
                                <input type="text" placeholder="模糊查询(柜台仓库创建人)" id="fuzzy-search">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" id="btn-simple-search"><i
                                            class="fa fa-search"></i></button>
                                    <button type="button" class="btn btn-primary" title="高级查询"
                                            id="toggle-advanced-search">
                                        <i class="fa fa-angle-double-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--搜索-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="row-fluid" style="display:none;" id="div-advanced-search">
                                <form class="form-inline well">
                                    <span>加工单编码:</span>
                                    <input type="text" class="input-medium" placeholder="加工单编码" id="orderCode-search">
                                    <span>仓库编码:</span>
                                    <select name="whseCode-search" id="whseCode-search" class="whseCode"></select>
                                    <span>产成品编码:</span>
                                    <input type="text" class="input-medium" placeholder="产成品编码" id="productCode-search">
                                    <span>最后期限:</span>
                                    <input type="text" class="input-medium  datetime" placeholder="最后期限"
                                           id="deadline-search" name="deadline-add">
                                    <span>加工单类型:</span>
                                    <select class="input-small" id="orderType-search">
                                        <option value="">全部</option>
                                        <option value="1">组装</option>
                                        <option value="0">拆零</option>
                                    </select>
                                    <span>订单状态:</span>
                                    <select class="input-small" id="pluginStatus-search">
                                        <option value="">全部</option>
                                        <option value="1">未分配</option>
                                        <option value="2">分配中</option>
                                        <option value="3">分配完</option>
                                        <option value="4">已完成</option>
                                    </select>
                                    <button type="button" class="btn" id="btn-advanced-search"><i
                                            class="fa fa-search"></i> 查询
                                    </button>
                                </form>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="block info-block" id="user-add" style="display:none;">
                            <div class="navbar navbar-inner block-header">
                                <div class="block-title">添加加工单</div>
                                <div class="header-buttons">
                                    <button type="button" class="btn btn-primary" id="btn-save-add">确定添加</button>
                                    <button type="button" class="btn btn-cancel">取消</button>
                                </div>
                            </div>
                            <!--添加-->
                            <div class="block-content info-content clearfix">
                                <form id="form-add">
                                    <div class="control-group">
                                        <label class="control-label" for="orderCode-add"><span
                                                class="red-asterisk">*</span>订单编码:</label>
                                        <div class="controls">
                                            <input type="text" id="orderCode-add" name="orderCode">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCount-add"><span
                                                class="red-asterisk">*</span>生产数量:</label>
                                        <div class="controls">
                                            <input type="text" id="productCount-add" name="productCount">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCode-add"><span
                                                class="red-asterisk">*</span>成品编码:</label>
                                        <div class="controls">
                                            <input type="text" id="productCode-add" name="productCode">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productUnit-add"><span
                                                class="red-asterisk">*</span>产品单位:</label>
                                        <div class="controls">
                                            <input type="text" id="productUnit-add" name="productUnit">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productName-add">成品名称:</label>
                                        <div class="controls">
                                            <input type="text" id="productName-add" name="productName">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="deadline-add">最后期限:</label>
                                        <div class="controls">
                                            <input type="text" class="datetime" id="deadline-add" name="deadline-add">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="whseCode_add"><span
                                                class="red-asterisk">*</span>仓库编码:</label>
                                        <div class="controls">
                                            <select name="whseCode" id="whseCode_add" class="whseCode"></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCode-add"><span
                                                class="red-asterisk">*</span>加工类型:</label>
                                        <div class="controls">
                                            <select class="input-small" id="orderType-add" name="orderType">
                                                <option value="1">组装</option>
                                                <option value="0">拆零</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--编辑-->
                        <div class="block info-block" id="user-edit" style="display:none;">
                            <div class="navbar navbar-inner block-header">
                                <div class="block-title">订单编辑:<span id="title-edit"></span></div>
                                <div class="header-buttons">
                                    <button type="button" class="btn btn-primary" id="btn-save-edit">保存更改</button>
                                    <button type="button" class="btn btn-cancel">取消</button>
                                </div>
                            </div>
                            <div class="block-content info-content clearfix">
                                <form id="form-edit">
                                    <div class="control-group" style="display: none">
                                        <label class="control-label" for="id_edit"><span
                                                class="red-asterisk">*</span>ID:</label>
                                        <div class="controls">
                                            <input type="text" id="id_edit" name="id_edit" disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="orderCode-edit"><span
                                                class="red-asterisk">*</span>订单编码:</label>
                                        <div class="controls">
                                            <input type="text" id="orderCode-edit" name="orderCode">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCount-edit"><span
                                                class="red-asterisk">*</span>生产数量:</label>
                                        <div class="controls">
                                            <input type="text" id="productCount-edit" name="productCount">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCode-edit"><span
                                                class="red-asterisk">*</span>成品编码:</label>
                                        <div class="controls">
                                            <input type="text" id="productCode-edit" name="productCode">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productUnit-edit"><span
                                                class="red-asterisk">*</span>产品单位:</label>
                                        <div class="controls">
                                            <input type="text" id="productUnit-edit" name="productUnit">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productName-edit">成品名称:</label>
                                        <div class="controls">
                                            <input type="text" id="productName-edit" name="productName">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="deadline-edit">最后期限:</label>
                                        <div class="controls">
                                            <input type="text" class="datetime" id="deadline-edit" name="deadline">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="whseCode_edit"><span
                                                class="red-asterisk">*</span>仓库编码:</label>
                                        <div class="controls">
                                            <select name="whseCode" id="whseCode_edit" class="whseCode"></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCode-edit"><span
                                                class="red-asterisk">*</span>加工类型:</label>
                                        <div class="controls">
                                            <select class="input-small" id="orderType-edit" name="orderType">
                                                <option value="1">组装</option>
                                                <option value="0">拆零</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                </form>
                            </div>
                        </div>
                        <!--分配任务-->
                        <div class="block info-block" id="user-distribute" style="display:none;">
                            <div class="navbar navbar-inner block-header">
                                <div class="block-title">分配任务:<span id="title-distribute"></span></div>
                                <div class="header-buttons">
                                    <button type="button" class="btn btn-primary" id="btn-save-distribute">提交分配</button>
                                    <button type="button" class="btn btn-cancel">取消</button>
                                </div>
                            </div>
                            <div class="block-content info-content clearfix">
                                <form id="form-distribute">
                                    <div class="control-group" style="display: none">
                                        <label class="control-label" for="id_distribute"><span
                                                class="red-asterisk">*</span>ID:</label>
                                        <div class="controls">
                                            <input type="text" id="id_distribute" name="id_distribute" disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="orderCode-distribute"><span
                                                class="red-asterisk">*</span>订单编码:</label>
                                        <div class="controls">
                                            <input type="text" id="orderCode-distribute" name="orderCode"
                                                   disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCount-distribute"><span
                                                class="red-asterisk">*</span>生产数量:</label>
                                        <div class="controls">
                                            <input type="text" id="productCount-distribute" name="productCount"
                                                   disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCode-distribute"><span
                                                class="red-asterisk">*</span>成品编码:</label>
                                        <div class="controls">
                                            <input type="text" id="productCode-distribute" name="productCode"
                                                   disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productUnit-distribute"><span
                                                class="red-asterisk">*</span>产品单位:</label>
                                        <div class="controls">
                                            <input type="text" id="productUnit-distribute" name="productUnit"
                                                   disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productName-distribute">成品名称:</label>
                                        <div class="controls">
                                            <input type="text" id="productName-distribute" name="productName"
                                                   disabled="true">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="deadline-distribute">最后期限:</label>
                                        <div class="controls">
                                            <input type="text" class="datetime" id="deadline-distribute" name="deadline"
                                                   disabled="true">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="whseCode_distribute"><span
                                                class="red-asterisk">*</span>仓库编码:</label>
                                        <div class="controls" disabled="true">
                                            <select name="whseCode" id="whseCode_distribute" class="whseCode"
                                                    disabled="true"></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="productCode-distribute"><span
                                                class="red-asterisk">*</span>加工类型:</label>
                                        <div class="controls" disabled="true">
                                            <select class="input-small" id="orderType-distribute" name="orderType"
                                                    disabled="true" readonly="true">
                                                <option value="1">组装</option>
                                                <option value="0">拆零</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div id="table-container">
                                        <table id="table-order-task" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th><input type="checkbox" name="allChecked"/></th>
                                                <th>序号</th>
                                                <th>仓库编码</th>
                                                <th>柜台编码</th>
                                                <th>柜台名称</th>
                                                <th>柜台状态</th>
                                                <th>任务数量</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                        </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="box-body">
                            <div id="div-table-container">
                                <table id="table-counter" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>订单编码</th>
                                        <th>仓库编码</th>
                                        <th>仓库名称</th>
                                        <th>加工类型</th>
                                        <th>生产数量</th>
                                        <th>产品单位</th>
                                        <th>最后期限</th>
                                        <th>成品编码</th>
                                        <th>成品名称</th>
                                        <th>同步时间</th>
                                        <th>任务完成时间</th>
                                        <th>关单人</th>
                                        <th>关单时间</th>
                                        <th>订单状态</th>
                                        <th>编辑</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="footer"></div>
</div>
<div th:replace="script"></div>
<script th:src="@{/js/constant.js}"></script>
<script th:src="@{/js/order-manager.js}"></script>
</body>
</html>