<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BOM&KPI </title>
    <div th:replace="head"></div>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>加工和绩效管理平台</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg" th:text="${msg}"></p>

        <form th:action="@{/user/login}" method="post">
            <div>
                <input type="radio" id="person" name="taskType" value="0" checked="true"/>单人任务
                <input type="radio" id="people" name="taskType" value="1"/>团队任务
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="用户名" name="username" required="required"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="密码" name="password" required="required"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!--<div class="col-xs-8">-->
                    <!--<div class="checkbox icheck">-->
                        <!--<label>-->
                            <!--<input type="checkbox" name="remember-me"/> 记住密码-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</body>
</html>
