<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <!--Multilevel-->
            <!--<li th:if="${not #lists.isEmpty(navs)}" class="treeview active" th:each="nav:${navs}">-->
                <!--<a th:href="@{${nav.url}?:'#'}">-->
                    <!--<span th:text="${nav.label}">label</span>-->
                    <!--<span class="pull-right-container">-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu" th:each="second:${nav.childNodes}">-->
                    <!--<li th:name="${second.id}" th:data="${currentMenu}" th:class="(${second.id}==${currentMenu})?'active':''">-->
                        <!--<a href="#" th:href="@{${second.url}}">-->
                            <!--<i class="fa fa-circle-o"></i>-->
                            <!--<span th:text="${second.label}">label</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li class="treeview">
                <a>
                    <span>柜台管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#" >
                            <i class="fa fa-circle-o"></i>
                            <span id="counterInfo">柜台信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <span>加工单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#" th:href="@{/order}">
                            <i class="fa fa-circle-o"></i>
                            <span>订单信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <span>任务管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#" th:href="@{/task}">
                            <i class="fa fa-circle-o"></i>
                            <span>任务分配</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <span>单人任务管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#" th:href="@{/task/person}">
                            <i class="fa fa-circle-o"></i>
                            <span>任务信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <span>团队任务管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#" th:href="@{/task/team}">
                            <i class="fa fa-circle-o"></i>
                            <span>任务信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <span>绩效管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#" th:href="@{/kpi}">
                            <i class="fa fa-circle-o"></i>
                            <span>仓库绩效信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/kpi/person}">
                            <i class="fa fa-circle-o"></i>
                            <span>单人绩效信息</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>