<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css"/>
    <title>柜台管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form th:action="@{/counter/search}" method="post" th:object="${userWhseVo}">
                        <div style="display:inline;">
                            <label for="whseCode">仓库</label>
                            <select style="width: 30%;height: 34px;font-size: 14px; line-height: 1.42857143;color: #555555;background-color: #fff;"
                                    data-live-search="true"  name="whseCode" id="whseCode" placeholder="所属仓库编码"  maxlength="60">
                            </select>

                            <button type="submit" id="search"><span><i class="glyphicon glyphicon-search"></i></span></button>
                            <button type="button" id="remove" onclick="remove();"><span><i class="glyphicon glyphicon-remove"></i></span></button>
                        </div>
                        <div style="display:inline;height: 34px;width: 30px;margin-left: 3px;">


                        </div>
                    </form>

                    <div class="box">
                        <div class="box-header">
                                <a th:href="@{/counter/form}" title="新增柜台"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>柜台编码</th>
                                    <th>柜台名称</th>
                                    <th>仓库编码</th>
                                    <th>仓库名称</th>
                                    <th>柜台状态</th>
                                    <th>创建人</th>
                                    <th>创建时间</th>
                                    <th>最后修改人</th>
                                    <th>最后修改时间</th>
                                    <th>说明</th>
                                    <th>修改</th>
                                </tr>
                                </thead>
                                <!--<tbody>-->
                                <!--<tr th:each="counter:${counters}">-->
                                    <!--<td th:text="${counter.id}" hidden="true">1</td>-->
                                    <!--<td th:text="${counterStat.count}">1</td>-->
                                    <!--<td th:text="${counter.counterCode}">code</td>-->
                                    <!--<td th:text="${counter.counterName}">name</td>-->
                                    <!--<td th:text="${counter.whseCode}">code</td>-->
                                    <!--<td th:text="${counter.whseName}">name</td>-->
                                    <!--<td th:text="${counter.CounterStatus}==1?'空闲':'使用中'" id="status">status</td>-->
                                    <!--<td th:text="${counter.creater}">creater</td>-->
                                    <!--<td th:text="${#dates.format(counter.creationDate,'yyyy-MM-dd HH:mm:ss')}">createdate</td>-->
                                    <!--<td th:text="${counter.lastModifyName}">modify</td>-->
                                    <!--<td th:text="${#dates.format(counter.lastModifyDate,'yyyy-MM-dd HH:mm:ss')}">modifydate</td>-->
                                    <!--<td th:text="${counter.description}">name</td>-->
                                    <!--<td style="text-align: center">-->
                                        <!--<a th:href="@{/counter/form(id=${counter.id})}"><span class="glyphicon glyphicon-edit" title="编辑"></span></a>-->
                                    <!--</td>-->

                                <!--</tr>-->
                                <!--</tbody>-->
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="footer"></div>
</div>
<div th:replace="script"></div>
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax:{
                url:"/counter/getCounters",
                type:"get",
                data:"username="+username,
                dataSrc:""
            },
            columns:[
                {
                    "mDataProp" : "id",
                    "sClass" : "center"
                },
                {
                    "mDataProp" : "counterCode"
                },
                {
                    "mDataProp" : "counterName"
                },
                {
                    "mDataProp" : "whseCode"
                },
                {
                    "mDataProp" : "whseName"
                },
                {
                    "mDataProp" : "CounterStatus"
                },
                {
                    "mDataProp" : "creater"
                },
                {
                    "mDataProp" : "creationDate",
                    "mRender" : function(data, type, full) {
                        return "<div class='visible-md visible-lg hidden-sm hidden-xs action-buttons'><a class='blue' href='#'><i class='icon-zoom-in bigger-130'></i></a><a class='green' href='#'><i class='icon-pencil bigger-130'></i></a><a class='red' href='#'><i class='icon-trash bigger-130'></i></a></div>"
                    }
                },
                {
                    "mDataProp" : "lastModifyName"
                },

                {
                    "mDataProp" : "lastModifyDate",
                    "mRender" : function(data, type, full) {
                        return "<div class='visible-md visible-lg hidden-sm hidden-xs action-buttons'><a class='blue' href='#'><i class='icon-zoom-in bigger-130'></i></a><a class='green' href='#'><i class='icon-pencil bigger-130'></i></a><a class='red' href='#'><i class='icon-trash bigger-130'></i></a></div>"
                    }
                },
                {
                    "mDataProp" : "description"
                }
            ]
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
<script th:src="@{/js/counter.js}"></script>
</body>
</html>