<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/echarts.js}"></script>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css"/>
    <title>KPI管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="col-md-6">
                                <span>常规绩效</span>
                                <form action="#">
                                    <label for="datepicker">日期  </label>
                                     <input id="datepicker" type="text" style="display: inline" placeholder="日期"/>
                                    <input type="submit"  value="搜索" style="display: inline"/>
                                </form>

                            </div>
                        </div>
                    <div class="box">
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>序号</th>

                                    <th>绩效记录编码</th>
                                    <th>用户</th>
                                    <th>绩效同步时间</th>
                                    <th>按件计数的件数</th>
                                    <th>按SKU计数的sku数量</th>
                                    <th>按单计数的单数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="recorder:${recorders}">
                                    <td th:text="${recorder.id}" hidden="true">1</td>
                                    <td th:text="${recorderStat.count}">1</td>

                                    <td th:text="${recorder.worknode.getNodeCode()}">NodeCode</td>
                                    <td th:text="${recorder.user.getUsername()}">Username</td>
                                    <td th:text="${#dates.format(recorder.syncDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>
                                    <td th:text="${recorder.itemCount}">itemCount</td>
                                    <td th:text="${recorder.SKUCount}">SKUCount</td>
                                    <td th:text="${recorder.orderCount}">orderCount</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                </div>
            </div>
        </section>
        <section class="content">
            <div id="chartmain" style="width:600px; height: 400px;"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box">
                            <div class="box-header">
                                <a th:href="@{/kpi/others}" title="新增额外绩效"><span class="glyphicon glyphicon-plus">额外绩效</span></a>
                            </div>
                            <div class="box-body">
                                <table id="dataTable2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>序号</th>

                                        <th>用户</th>
                                        <th>仓库编码</th>
                                        <th>仓库名称</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="asn:${asns}">
                                        <td th:text="${asn.id}" hidden="true">1</td>
                                        <td th:text="${asnStat.count}">1</td>

                                        <!--<td th:text="${asn.}">UserName</td>-->
                                        <td th:text="${asn.whseCode}">whseCode</td>
                                        <td th:text="${asn.whseName}">whseName</td>
                                        <!--<td th:text="${#dates.format(record.workDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>-->
                                        <!--<td th:text="${record.workDesc}">workDesc</td>-->
                                        <!--<td th:text="${#dates.format(record.beginDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>-->
                                        <!--<td th:text="${#dates.format(record.endDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>-->
                                        <!--<td th:text="${record.interrupted}">workDesc</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-body">
                                <table id="dataTable2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>序号</th>

                                        <th>用户</th>
                                        <th>仓库编码</th>
                                        <th>仓库名称</th>
                                        <th>工作时间</th>
                                        <th>工作描述</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>间断</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="record:${oRecorders}">
                                            <td th:text="${record.id}" hidden="true">1</td>
                                            <td th:text="${recordStat.count}">1</td>

                                            <td th:text="${record.user.getUsername()}">UserName</td>
                                            <td th:text="${record.whseCode}">whseCode</td>
                                            <td th:text="${record.whseName}">whseName</td>
                                            <td th:text="${#dates.format(record.workDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>
                                            <td th:text="${record.workDesc}">workDesc</td>
                                            <td th:text="${#dates.format(record.beginDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>
                                            <td th:text="${#dates.format(record.endDate,'yyyy-MM-dd HH:mm:ss')}">2018-05-25</td>
                                            <td th:text="${record.interrupted}">workDesc</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>

</div>
<div th:replace="script"></div>
<script th:src="@{/js/kpi.js}"></script>
</body>
</html>